/* ======== HEADER ======== */

html {
 scroll-behavior: smooth;
}

.header-wrapper {
 background-color: #ffffff;
}

.container {
 margin: 0 auto;
 max-width: 1280px;
}

.logo-nav-menu-wrapper {
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 30px 40px;
}

.logo-link {
 text-decoration: none;
}

.logo-title {
 font-family: "Georgia";
 font-style: normal;
 font-weight: 400;
 font-size: 32px;
 line-height: 35px;
 letter-spacing: 0.06em;
 color: #545454;
 margin: 0;
}

.logo-subtitle {
 font-family: "Arial";
 font-style: normal;
 font-weight: 400;
 font-size: 13px;
 line-height: 15px;
 letter-spacing: 0.1em;
 color: #292929;
 margin: 10px 0 0 4px;
}

.nav-menu {
 display: flex;
 justify-content: space-between;
 align-items: center;
 gap: 36px;
 margin-top: 12px;
}

.nav-menu > li {
 list-style-type: none;
}

.nav-menu-link {
 font-family: "Arial";
 text-decoration: none;
 font-style: normal;
 font-weight: 400;
 font-size: 15px;
 line-height: 24px;
 color: #545454;
 transition: color 0.5s ease-in-out;
}

.nav-menu-link:hover {
 color: #292929;
}

.nav-menu-link.active {
 color: #292929;
 border-bottom: 3px solid #f1cdb3;
 padding-bottom: 4px;
 cursor: default;
}

.nav-menu-button-wrapper {
 position: absolute;
 top: 45px;
 right: 20px;
 z-index: 10;
 transition: 0.3s ease-in-out;
 display: none;
 cursor: pointer;
}

.burger-button__line {
 width: 30px;
 height: 2px;
 background-color: #000000;
 transition: background-color 0.5s ease-in-out;
 margin: 5px 0;
}

.burger-button__line--center {
 margin: 8px 0;
}

.nav-menu-button {
 border: none;
 background-color: transparent;
 transition: 0.3s ease-in-out;
}

.nav-menu-button-wrapper--open {
 transform: rotate(90deg);
 transition: 0.3s ease-in-out;
}

.burger-nav-menu__wrapper {
 display: none;
 opacity: 0;
 transition: 0.3s ease-in-out;
}

.burger-background {
 display: none;
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background-color: rgba(41, 41, 41, 0.6);
 z-index: 1;
 opacity: 1;
}

.burger-nav-menu {
 position: fixed;
 top: 0;
 right: -320px;
 width: 320px;
 height: 100%;
 background-color: #ffffff;
 z-index: 2;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: 40px 0px;
 margin: 0;
 list-style: none;
 padding: 0;
 color: #cdcdcd;
 transition: 0.3s ease-in-out;
}

.nav-menu-burger-link {
 font-size: 32px;
 line-height: 51px;
}

.burger-nav-menu--open {
 opacity: 1;
 right: 0;
}

.body--overflow {
 overflow: hidden;
}

/* ======== SECTION OUR FRIENDS ======== */

.our-friends-section-wrapper {
 background-color: #f6f6f6;
}

.our-friends-content-wrapper {
 padding: 80px 40px 100px;
}

.our-friends-title-wrapper {
 font-family: "Georgia";
 font-style: normal;
 font-weight: 400;
 font-size: 35px;
 line-height: 45px;
 text-align: center;
 letter-spacing: 0.06em;
 color: #545454;
 margin: 0;
}

.slider-content {
 margin-top: 60px;
 display: grid;
 grid-template-columns: 1fr 1fr 1fr 1fr;
 grid-gap: 30px 40px;
}

.our-friends-card-wrapper {
 background-color: #fafafa;
 border-radius: 9px;
 max-width: 270px;
 max-height: 435px;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: center;
}

.our-friends-card-wrapper:hover.our-friends-card-wrapper {
 background-color: #ffffff;
 cursor: pointer;
}

.our-friends-card-wrapper > img {
 width: 100%;
 height: 100%;
}

.our-friends-pet-name {
 font-family: "Georgia";
 font-style: normal;
 font-weight: 400;
 font-size: 20px;
 line-height: 23px;
 text-align: center;
 letter-spacing: 0.06em;
 color: #545454;
 margin: 30px 0px 0px;
}

.our-friends-btn-more {
 border: 2px solid #f1cdb3;
 border-radius: 100px;
 margin: 30px 0px;
 padding: 13px 43px;
 font-family: "Georgia";
 font-style: normal;
 font-weight: 400;
 font-size: 17px;
 line-height: 22px;
 letter-spacing: 0.06em;
 color: #292929;
 cursor: pointer;
 background-color: transparent;
 transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.our-friends-card-wrapper:hover .our-friends-btn-more {
 cursor: pointer;
 background-color: #fddcc4;
 border-color: #fddcc4;
}

.our-friends-pagination-wrapper {
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 0px 20px;
 margin-top: 60px;
}

.pagination {
 border-radius: 50%;
 border: 2px solid #f1cdb3;
 width: 52px;
 height: 52px;
 font-family: "Georgia";
 font-style: normal;
 font-weight: 400;
 font-size: 20px;
 line-height: 23px;
 display: flex;
 justify-content: center;
 align-items: center;
 letter-spacing: 0.06em;
 color: #292929;
 background-color: transparent;
}

.pagination > span {
 margin-bottom: 3px;
 margin-left: 1px;
}

.pagination-btn:enabled,
.pagination-btn[disabled="false"] {
 cursor: pointer;
 transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
 color: #292929;
 border-color: #f1cdb3;
}

.pagination-btn[disabled="true"], .pagination-btn:disabled {
 cursor: auto;
 transition: none;
 color: #cdcdcd;
 border-color: #cdcdcd;
}

.pagination-btn:hover:enabled,
.pagination-btn[disabled="false"]:hover {
 cursor: pointer;
 background-color: #fddcc4;
 border-color: #fddcc4;
}

.pagination-current-page-wrapper {
 background-color: #f1cdb3;
 cursor: pointer;
 transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.pagination-current-page-wrapper:hover {
 background-color: #fddcc4;
 border-color: #fddcc4;
}

/* ======== POPUP ======== */

.popup-background {
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background-color: red;
 background-color: rgba(41, 41, 41, 0.6);
 display: flex;
 justify-content: center;
 align-items: center;
 z-index: 100;
}

#popup-content__wrapper {
 width: 900px;
 height: 500px;
 background-color: #fafafa;
 display: flex;
 justify-content: space-between;
 position: relative;
 gap: 0px 30px;
 border-radius: 9px;
}

.popup-close-icon__wrapper {
 position: absolute;
 top: -50px;
 right: -43px;
 width: 48px;
 height: 48px;
 border: 2px solid #f1cdb3;
 border-radius: 50%;
 display: flex;
 justify-content: center;
 align-items: center;
 transition: background-color 0.5s ease-in-out, border-color 0.5s ease-in-out;
}

.popup-close-icon__wrapper:hover {
 cursor: pointer;
 background-color: #fddcc4;
 border-color: #fddcc4;
}

.popup-close-icon__wrapper:active {
 cursor: pointer;
 background-color: #fdf4ee;
 border-color: #fdf4ee;
}

.popup-img-wrapper {
 min-width: 500px;
 height: 500px;
 display: flex;
 justify-content: stretch;
 align-items: stretch;
 flex-grow: 1;
}

.popup-img-wrapper img {
 width: 100%;
 height: 100%;
 border-radius: 9px 0px 0px 9px;
}

.popup-description__wrapper {
 padding-top: 50px;
 padding-right: 20px;
}

#popup-content__wrapper h3 {
 font-family: "Georgia";
 font-style: normal;
 font-weight: 400;
 font-size: 35px;
 line-height: 45px;
 letter-spacing: 0.06em;
 color: #000000;
 margin: 0;
}

.popup-type {
 font-family: "Georgia";
 font-style: normal;
 font-weight: 400;
 font-size: 20px;
 line-height: 23px;
 letter-spacing: 0.06em;
 color: #000000;
 margin-top: 10px;
}

.popup-description {
 font-family: "Georgia";
 font-style: normal;
 font-weight: 400;
 font-size: 15px;
 line-height: 17px;
 letter-spacing: 0.06em;
 color: #000000;
 margin-top: 40px;
}

.popup-list-title {
 font-family: "Georgia";
 font-style: normal;
 font-weight: 400;
 font-size: 15px;
 line-height: 17px;
 letter-spacing: 0.06em;
 color: #000000;
}

.popup-list {
 font-family: "Georgia";
 font-style: normal;
 font-weight: 400;
 font-size: 15px;
 line-height: 17px;
 letter-spacing: 0.06em;
 color: #000000;
 margin: 0;
 padding-left: 15px;
 margin-top: 38px;
}

.popup-list-title {
 margin: 11px 0;
}
.popup-list-item {
 margin: 4px 0;
}

.popup-list-item::marker {
 color: #f1cdb3;
}

/* ======== FOOTER ======== */

footer {
 background: url(../../assets/images/footer/footer-gradient-background.png);
 background-repeat: no-repeat;
 background-size: cover;
}

.footer-content-wrapper {
 padding: 40px 40px 0px;
 display: flex;
 justify-content: space-between;
 align-items: flex-start;
 flex-wrap: wrap;
}

.footer-content-left,
.footer-content-center {
 margin-top: 16px;
}

.footer-title-left,
.footer-title-center {
 font-family: "Georgia";
 font-style: normal;
 font-weight: 400;
 font-size: 35px;
 line-height: 45px;
 letter-spacing: 0.06em;
 color: #ffffff;
 margin: 0;
 max-width: 279px;
}

.footer-email,
.footer-phone {
 margin-top: 43px;
 display: flex;
 justify-content: flex-start;
 align-items: center;
 gap: 0 20px;
}

.footer-email-text,
.footer-phone-text {
 font-family: "Georgia";
 font-style: normal;
 font-weight: 400;
 font-size: 20px;
 line-height: 23px;
 letter-spacing: 0.06em;
 color: #f1cdb3;
 transition: color 0.5s ease-in-out;
}

.footer-address-wrapper {
 margin-top: 33px;
 font-family: "Georgia";
 font-style: normal;
 font-weight: 400;
 font-size: 20px;
 line-height: 23px;
 letter-spacing: 0.06em;
 color: #f1cdb3;
 display: flex;
 justify-content: flex-start;
 align-items: center;
}

.footer-address-wrapper > img {
 margin-right: 20px;
}

.footer-address-wrapper-boston {
 margin-top: 33px;
}

.footer-address-boston,
.footer-address-london {
 max-width: 260px;
 transition: color 0.5s ease-in-out;
}

.footer-address-boston:hover,
.footer-address-london:hover {
 color: #ffffff;
}

.footer-content-right {
 display: flex;
}

a[href^="mailto:"] {
 text-decoration: none;
}

a[href^="mailto:"]:hover .footer-email-text {
 color: #ffffff;
}

a[href^="tel:"],
.footer-address-link {
 text-decoration: none;
}

a[href^="tel:"]:hover .footer-phone-text {
 color: #ffffff;
}

@media screen and (max-width: 1024px) {
 .logo-nav-menu-wrapper {
  padding: 30px 30px;
 }

 .our-friends-content-wrapper {
  padding: 80px 40px 76px;
 }

 .slider-content {
  margin-top: 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px 3%;
 }

 /* .our-friends-card-wrapper:nth-child(3n + 1) {
  grid-column: 1 / 3;
 }
 .our-friends-card-wrapper:nth-child(3n + 2) {
  grid-column: 3 / 5;
 }
 .our-friends-card-wrapper:nth-child(3n) {
  grid-column: 5 / 7;
 }

 .our-friends-card-wrapper:nth-last-child(-n + 2) {
  grid-column: 2 / 4;
 }

 .our-friends-card-wrapper:last-child {
  grid-column: 4 / 6;
 } */

 /* ======== POPUP ======== */

 #popup-content__wrapper {
  width: 630px;
  height: 350px;
  gap: 0px 10px;
 }

 .popup-img-wrapper {
  min-width: 350px;
  height: 350px;
 }

 .popup-description__wrapper {
  padding-top: 10px;
  padding-right: 9px;
 }

 .popup-description {
  font-size: 13px;
  line-height: 14px;
  margin-top: 20px;
 }

 .popup-list {
  padding-left: 15px;
  margin-top: 20px;
 }

 .popup-list-title {
  margin: 6px 0;
 }

 footer {
  background-image: url(../../assets/images/footer/footer-gradient-background-med.png);
 }

 .footer-content-wrapper {
  padding: 30px 64px 0px;
  justify-content: center;
  gap: 65px 40px;
 }

 .footer-content-left,
 .footer-content-center {
  flex-grow: 1;
  width: 45%;
  margin-top: 0;
 }

 .footer-content-right {
  flex-grow: 1;
  width: 100%;
  justify-content: center;
 }

 .footer-address-boston,
 .footer-address-london {
  max-width: 100%;
  transition: color 0.5s ease-in-out;
 }
}

@media screen and (max-width: 900px) {
 .slider-content {
  margin-top: 29px;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px 40px;
  justify-items: center;
 }

 .our-friends-card-wrapper:nth-child(odd) {
  justify-self: end;
  grid-column: 1 / 2;
 }
 .our-friends-card-wrapper:nth-child(even) {
  justify-self: start;
  grid-column: 2 / 3;
 }

 .our-friends-pagination-wrapper {
  margin-top: 40px;
 }
}

@media screen and (max-width: 767px) {
 .logo-nav-menu-wrapper {
  padding: 30px 20px;
 }

 .nav-menu {
  display: none;
 }

 .nav-menu-button-wrapper {
  display: block;
 }

 .nav-menu-button {
  margin-top: 4px;
  padding: 0;
 }

 .burger-nav-menu__wrapper {
  display: block;
 }

 .our-friends-content-wrapper {
  padding: 42px 10px;
 }

 .our-friends-title-wrapper {
  font-size: 25px;
  line-height: 32px;
 }

 /* ======== POPUP ======== */

 #popup-content__wrapper {
  width: 75%;
  height: auto;
  justify-content: stretch;
  gap: 0;
  border-radius: 9px;
 }

 #popup-content__wrapper h3 {
  text-align: center;
  font-size: 35px;
  line-height: 45px;
 }

 .popup-img-wrapper {
  display: none;
 }

 .popup-description__wrapper {
  padding: 10px 10px 5px;
 }

 .popup-description {
  font-size: 13px;
  line-height: 14px;
  margin-top: 20px;
  margin-bottom: 0;
  text-align: justify;
 }

 .popup-list {
  padding-left: 15px;
  margin-top: 24px;
 }

 .popup-list-title {
  margin: 6px 0;
 }

 .popup-close-icon__wrapper {
  right: -30px;
 }

 .popup-type {
  text-align: center;
 }

 footer {
  background-image: url(../../assets/images/footer/footer-gradient-background-small.png);
 }

 .footer-content-wrapper {
  padding: 30px 10px 0px;
  gap: 40px 0px;
 }

 .footer-content-left,
 .footer-content-center {
  width: 100%;
  margin: 0 auto;
 }

 .footer-title-left,
 .footer-title-center {
  font-size: 25px;
  line-height: 32px;
  text-align: center;
  max-width: 100%;
 }

 .footer-title-center {
  max-width: 90%;
  margin: 0 auto;
 }

 .footer-email,
 .footer-phone {
  justify-content: center;
 }

 .footer-address-wrapper {
  max-width: fit-content;
  justify-content: center;
  margin: 0 auto;
  margin-top: 40px;
 }
}

@media screen and (max-width: 640px) {
 .slider-content {
  margin-top: 42px;
  grid-template-columns: 1fr;
  grid-gap: 30px 0px;
  justify-items: center;
 }

 .our-friends-card-wrapper:nth-child(odd) {
  justify-self: center;
  grid-column: 1 / 2;
 }

 .our-friends-card-wrapper:nth-child(even) {
  justify-self: center;
  grid-column: 1 / 2;
 }

 /* .our-friends-card-wrapper:nth-child(n + 4) {
  display: none;
 } */

 .our-friends-pagination-wrapper {
  gap: 0px 10px;
  margin-top: 42px;
 }
}

@media screen and (max-width: 480px) {
 .footer-content-right img {
  width: 86.67%;
 }
}

@media screen and (max-width: 321px) {
 .footer-address-wrapper {
  justify-content: flex-start;
  margin: 0;
  margin-top: 40px;
 }
}

.hidden {
 display: none;
}
